@model IEnumerable<Grade>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Grades</h1>

<p class="ctas">
	@Html.ActionLink("New", "Create", "Grade", null, new { @class = "btn btn-sm btn-primary" })
</p>

<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Teacher</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Count() == 0)
		{
			<tr>
				<td colspan="4">Any data was found</td>
			</tr>
		}
		else
		{
			@foreach (Grade grade in Model)
			{
				<tr>
					<td>@grade.Id</td>
					<td>@grade.Name</td>
					<td>@grade.Teacher.Name @grade.Teacher.Lastname</td>
					<td>
						<div class="ctas">
							@Html.ActionLink("Delete", "Delete", "Grade", new { Id = grade.Id }, new { @class = "btn btn-sm btn-danger" })
							@Html.ActionLink("Edit", "Edit", "Grade", new { Id = grade.Id }, new { @class = "btn btn-sm btn-secondary" })
						</div>
					</td>
				</tr>
			}
		}
	</tbody>
</table>
